:root {
    --primary-color: #fc9038;
    --secondary-color: #76020c;
    --tertiary-color: #39a6b2;
  }

  /* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } */
  
header {
    padding: 1%;
    display: flex;
    background-image: url('../images/space-image.jpg') ;
    background-size: cover;
    opacity: 0.75;
} 


.banner h1 {
    color: var(--secondary-color);
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    

}

.banner h2 {
    justify-content: space-around;
    align-content: right;
    font-family: Helvetica, Arial, sans-serif;
}

.title-plain {
    display: flex;
    
}

.about-me {
    font-size: 40px;
    padding: 20px;
}

/*  image ben.jpg */
figure img {
    max-width: 15%;
    height: auto;
}