:root {
    --primary-color: rgba(214, 119, 10, 0.8);
    --secondary-color: rgba(116, 1, 1, 0.8);
    --tertiary-color:rgba(63, 132, 179, 0.8);

  }
/* .test { --primary-color: #fc9038;
    --secondary-color: #76020c;
    --tertiary-color: #39a6b2; } */
* {
    /* box-sizing: border-box; */
    margin: 5px;
    padding: 0;
    border-color: #39a6b2;
  } 
  
body {
    margin: 5px;
    padding: 10px;
    background-color: rgba(214, 119, 10, 0.5);
    background-image: url('/assets/images/red.jpg');
    position: sticky;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    /* background of red stone added to the complete body background */
}

/*  */

 /* Start of the header style */
.header {
    border: 5px solid var(--tertiary-color);
    padding: 20px;
    border-radius: 5px;
    background-color: var(--primary-color);
    background-image: url("../images/orange.jpg");
    display: flex;
    position: sticky;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 0.75;

} 


.header h1 {
    background-color: var(--secondary-color);
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 5px;
    /* display: flex;
    justify-content: start;
    flex-direction: row;
    text-shadow: 0 0 10px var('--secondary-color'); */
}
/* added flexbox to the list */
.header ul li {
    background-color: var(--tertiary-color);
    font-weight: bold;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row-reverse; 
    vertical-align: top;
    justify-content: stretch;
    border-radius: 10px;
}

.navbar-style {
    display: flex;
    flex-direction: row;
}

.list-style {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
/* End of banner style */


/* start of sub-banner style */
.sub-banner {
    font-size: 24px;
    background-image: url('../images/light-teal.jpg');
    background-attachment: fixed;
    padding: 15px;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
/* .sub-banner h2 {
    


} */
.sub-banner section figure h2 {
    font-weight: bold;
    color: #3d0207;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.sub-banner section figure p {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
/* end of sub-banner style */ 

/* Start of about-me style */

#about-me {
    border: 5px solid var(--secondary-color);
    border-radius: 10px;
}

#about-me h2 {
    border: 5px solid var(--tertiary-color);
    font-size: 40px;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;    
}


#about-me p {
    border: 5px solid var(--primary-color);
    border-radius: 10px;
    font-size: 18px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-center;
    
}
/*  image ben.jpg */
#about-me img {
    border: 5px solid var(--secondary-color);
    max-width: 10%;
    height: auto;
    border-radius: 10px;

}

/* end of about-me style */

/* start of work style */

#work {
    border: 5px solid var(--secondary-color);
    border-radius: 15px;
    padding: 25px var(--secondary-color);
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around; */
    text-decoration: none;
    

}
/* #bigger-photo {
    border: 5px solid var(--secondary-color);
    border-radius: 5px;
    background-size: 15px;
    background-repeat: repeat;
    padding: 50px;
}
#bigger-photo img{
    border: 5px solid var(--secondary-color);
    max-width: 1500px;
    height:auto;
    
} */

#work h2 {
    font-size: 30px;
    border: 5px solid var(--tertiary-color);
    border-radius: 15px;
    background-image: url('../images/orange.jpg');
    position: sticky;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: auto;

}
#work ul  {
    color: var(--secondary-color);
    background-color: #fc9038;
    font-size: 25px;
    font-weight: bold;
    opacity: 0.75;
    color:#3d0207; 
}
#work ul li:hover {
    opacity: 1;
    
}
#bigger-photo img{   
    width: 650px;    
    height: auto;  
}
#work ul li img {
    border: 5px solid var(--secondary-color);
    border-radius: 5px;
    width: 400px;
    height: auto; 
    
}
 
#work ul li {
    border: 5px solid var('--secondary-color');
    border-radius: 15px;
     
} 
.work-title-ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
}
.work-title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-evenly;

}

/* ul {
    display: grid;
    list-style: none;
    grid-auto-columns: auto;
    flex-wrap: wrap;
    
} */
/* ul li {
    /* display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    overflow: auto;
} */





/* Start of Resume style */
#resume {
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    padding-top: 5px solid var(--tertiary-color);
    align-items:flex-end;
    justify-content: flex-end;
    box-shadow: 1px 1px 10px #3d0207;
    background-image: url('../images/light-teal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: sticky;
    background-attachment: fixed;


}
.resume {
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    font-size: 18px;
    color: #3d0207;
    align-items:stretch;
}

.resume-head {
    border: 5px solid var(--tertiary-color);
    border-radius: 15px;
    font-size: 30px;
    color: #3d0207;
    align-items: flex-start;
    background-image: url('../images/orange.jpg');
    position: sticky;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: auto;
    
}

/* .resume ul  {
    font-size: 18px;
    color: #3d0207;
    align-items: flex-end;
} */

#resume ul li p {
    font-size: 18px;
    color: #3d0207;
   
}
/* footer start */
footer {
    background-color: 
    #95b0b3;
    border: 5px solid var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
    background-image: url('../images/orange.jpg');
    position: sticky;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: auto;

}
 /* start of contact-me style in footer tag */

 #contact-me {
    display: flex;
    justify-content:space-evenly;
 }

 .contact-me-head  {
    background-color: var(--tertiary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    padding: 12px;
    display: flex;
    
    

/* background-image: url('../images/light-teal.jpg'); */

    
} 
/* end of contact-me style */
/* end of footer style */



/* Media query tags for a responsive layout when resizing the page */
/* small desktop screens */
@media only screen and (max-width: 980px) {
    header {
        justify-content: center;

    }

    figure {
        justify-content: center;
    }

    section {
        justify-content: center;
    }

    footer {
        justify-content: center;
}
}
/* Media query tags for tablets, etc */
@media only screen and (max-width: 768px) {
    header {
        justify-content: center;

    }

    figure {
        justify-content: center;
    }
    section {
        justify-content: center;
    }

    footer {
        justify-content: center;
}
/* Media query tags for phones and small devices */
@media only screen and (max-width: 768px) {
    header {
        justify-content: center;

    }

    figure {
        justify-content: center;
    }
    section {
        justify-content: center;
    }

    footer {
        justify-content: center;
}
}
